@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
header{
    height: 100vh;
}
.header__nav {
    display: flex;
    justify-content: space-around;
}
.nav__elements {
    width: 50%;
    display: flex;
    justify-content: space-around;
    line-height: 5em;
    font-weight: normal;
}
.elements__element:hover {
    transition: 0.5s;
    color: #F9995D;
    font-weight: 600;
}
.header__main {
    max-width: 100%;
    height: 60vh;
    position: relative;
    background: url(img/Hero.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 15%;
    padding-left: 10%;
}
.main__text {
    font-weight: 600;
    font-size: 72px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__block {
    height: 200px;
    color: white;
    background-color: #3559C7;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.block__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}
.block__subtitle {
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
}
.block__arrow {
    margin-top: 30px;
    flex: 1 1 auto;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    display: table;
    cursor: pointer;
}
.arrow__back {
    background-color: #292E3D;
    border-right: 1px white solid;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    
}
.arrow__next {
    background-color: #292E3D;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.burger__element{
    width: 50px;
    height: 4px;
    background-color: #292E3D;
    border-radius: 15px;
    margin-top: 3px;
    display: none;
}
.bg{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.767);
    z-index:99999999;
    transform: translateY(-100%);
    transition: 0.3s;
}
.bg__active{
    margin-top: 70px;
    transform: translateY(0);
    transition: 0.3s;
}
.bg__elements{
    text-align: center;
}
.bg__elements>div{
    margin-top: 20px;
    font-size: 20px;
}
.main__main {
    margin-top: 50px;
}
.main__items {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 0 15px;
}
.items__item {
    padding: 50px 20px;
    width: 500px;
    border-radius: 10px;
    border: #E0E3EB solid 1px;
    margin-bottom: 10px;
}
.item__icon {
    color: #F9995D;
    font-size: 40px;
}
.item__title {
    font-weight: 700;
    color: #3D445C;
    font-size: 20px;
    margin-bottom: 10px;
}
.item__subtitle {
font-weight: 400;
font-size: 16px;
color: #858EAD;
}
.main__about {
    margin-left: 20%;
    color: white;
}
.about__text {
    background-color: #3559C7;
    padding: 15px 20px;
    position: absolute;
    margin-top: -500px;
    margin-left: 700px;
    width: 300px;
}
.text__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
}
.text__descr {
    margin-bottom: 30px;
    font-weight: 400;
}
.text__button>button {
    color: #3559C7;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 18px;
}
.main__services{
    background-color: #F6F8F7;
}
.services__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.services__wel {
    background-color: white;
    width: 400px;
    height: 181px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-left: 50px;  
}
.service__block{
    padding: 10px 100px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services__bel {
    background: #2947A9;
    width: 400px;
    height: 181px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-bottom: 30px;
}
.consultation {
    height: 300px;
    background-image: url(/img/kitchen.png);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.consultation__text {
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.text__cotitle {
font-weight: 700;
font-size: 36px;
margin-bottom: 30px;
}
.text__codescr {
font-weight: 400;
font-size: 24px;
}
.consultation__button {
    margin-top: 124px;
}
.consultation__button>button {
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: white solid 2px;
    background:#292e3d00;
    padding: 15px 10px;
}
.projects {
    min-height: 100vh;
    padding-left: 125px;
}
.projects__title {
    font-weight: 700;
    font-size: 36px;
}
.projects__block {
    display: flex;
}
.block__nav {
    margin-top: 50px;
    width: 30%;
    font-weight: 500;
    font-size: 24px;
}
.nav__element {
    display: flex;
    flex-direction: row;
}
.block__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
}
.content__element {
margin-right: 40px;
margin-top: 40px;
}
.element__photo {
    margin: 0;
}
.element__textblock {
    color: white;
    margin-top: -5px;
    background-color: #2947A9;
    padding: 5px;
}
.textblock__title {
    font-weight: 700;
    font-size: 20px;
}
.textblock__subtitle {
}
.content__arrowr {
    background-color: #292E3D;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}
.content__arrowl{
    margin-top: 20px;
    background-color: #292E3D;
    padding: 10px 30px;
    margin-right: 80px;
    cursor: pointer;

}
.arr{
    width: 100%;
    max-width: 900px;
    display: flex;  
    justify-content: space-around;
    color: white;
}
.content__nav {
    display: flex;
    justify-content: space-around;
}
.nav__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #858EAD;
    margin-right: 10px;
    margin-top: 40%;
}
input{
    border: 1px solid #E0E3EB;
    border-radius: 4px;
    padding: 10px 8px;
    font-weight: 400;
    font-size: 18px;
    color: #A3AAC2;
}
input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.contact {
    background-color: #F6F8F7;
    min-height: 100vh;
    text-align: center;
}
.contact__title {
    font-weight: 700;
    font-size: 36px;
    padding-top: 60px;
}
.contact__subtitle {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 38px;
}
.contact__form {
}
.form__input {
    margin-bottom: 20px;
}
.form__message {
    max-width: 592px;
    padding-bottom: 50px;
    margin: 0 10px;
}
.contact__lamp {
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit{
    padding: 16px 20px;
    background: #2947A9;
    font-weight: 600;
    font-size: 18px;
    color: white;
    width: 271px;
}
button{
    margin: 0;
    border: 0;
    padding: 0;
}
@media only screen and (max-width: 1600px){
    .header__main {
        background-size: 1600px 100%;
    }
    .main__text{
        font-size: 40px;
    }
}
@media only screen and (max-width: 1300px){
    img{
        margin: 0;
        padding: 0;
    }
    .main__about {
        margin-left: 0px;
        color: white;
    }
    .about__text {
        background-color: #3559C7;
        padding: 15px 20px;
        position: absolute;
        margin-top: -500px;
        margin-left: 00px;
    }
    
}
@media only screen and (max-width: 964px){
    .consultation__button {
        margin-top: 30px;
    }
    .consultation__text {
        margin-top: 30px;
    }
    .consultation {
        height: 350px;
    }
}
@media only screen and (max-width: 800px){
    header{
        height: auto;
    }
    .burger__element{
        display: block;
    }
    .hide{
        display: none;
        line-height: 5em;
    }
    .header__nav{
        padding: 10px;
    }
    .nav__burger{
        margin-top: 10px;
    }
    .about__foto>img {
        width: 100%;
    }
    .about__text{
        margin-top: 0;
    }
    .main__services{
        margin-top: 350px;
    }
    .service__block{
        padding: 0 5px;
    }
    .services__wel{
        margin-left: 0;
    }
    .services__bel{
        margin-left: 0;
    }
    .services__block {
        justify-content: center;
    }
    .projects__block{
        flex-direction: column;
    }
    .block__content{
        margin: 0;
        justify-content: center;
    }
    .projects{
        padding-left: 5px;
    }
    .content__arrowl{
        margin-right: 10px;
    }
}